{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile_and_history.css' %}">
{% endblock %}


{% block content %}
<div id="profile-page">
    <div class="container-xl px-4 pt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link active ms-0" href="{% url 'profile' %}?user_id={{user.id}}" target="__blank">Informations</a>
            <a class="nav-link " href="{% url 'writting-history' %}?user_id={{ user.id }}" target="__blank">History</a>
        </nav>
        <hr class="mt-0 mb-4">
        <form action="/profile" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-4">
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Profile Picture</div>
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            <img id="profile_pic_preview" class="img-account-profile rounded-circle mb-2" src="{{ user.userprofile.profile_pic.url }}" alt="">
                            <!-- Profile picture help block-->
                            {% if request.user.id == user.id %}
                            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                            <!-- Profile picture upload button-->
                            <label class="btn btn-primary" for="id_profile_pic">Upload new image</label>
                            <input type="file" name="{{ profile_form.profile_pic.name }}" id="id_profile_pic" class="d-none">                    
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Account Details</div>
                        <div class="card-body">
                            <form>
                                <!-- Form Group (username)-->
                                <div class="mb-3">
                                    <label class="small mb-1">Username (how your name will appear to other users on the site)</label>
                                    {{ user_form.username }}
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1">First name</label>
                                        {{ user_form.first_name }}
                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1">Last name</label>
                                        {{ user_form.last_name }}
                                    </div>
                                </div>
                                <!-- Form Row        -->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputEmailAddress">location</label>
                                    {{ profile_form.location }}
                                </div>
                                <!-- Form Group (email address)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                    {{ user_form.email }}
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (phone number)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputPhone">Phone number</label>
                                        {{ profile_form.phone_number }}
                                    </div>
                                    <!-- Form Group (birthday)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputBirthday">Birthday</label>
                                        {{ profile_form.birth_date }}
                                    </div>
                                </div>
                                <!-- Save changes button-->
                                {% if request.user.id == user.id %}
                                <button class="btn btn-primary" type="submit">Save changes</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    document.getElementById('id_profile_pic').addEventListener('change', function(event) {
        var output = document.getElementById('profile_pic_preview');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    });
</script>
{% endblock %}