{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile_and_history.css' %}">
<style>
    h6 {
    font-weight: 500;
    margin-bottom: 0;
    color: gray;
    display: inline;
    }
</style>
{% endblock %}  

{% block content %}
<div class="schedules-area pd-bottom-120" id="public-page">   
        <div class="container">
            <section class="section mb-5 pt-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xl-7 text-center desc">
                            <h2 class="h1 mb-3">How can we help?</h2>
                            <p class="mx-lg-8">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
                            <form class="d-flex flex-column flex-md-row mt-4"><input type="email" class="form-control me-sm-2 mb-2 mb-sm-0" placeholder="DOESN'T WORK YET!!!"> <button class="btn btn-primary flex-shrink-0" type="submit">Search user</button></form>
                        </div>
                    </div>
                </div>
            </section>

            <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade active show" id="ex1-tabs-1" role="tabpanel">
                    <div class="row">
                        {% for data in public_writtings %}
                        <div class="col-md-6" id="project-items-{{ forloop.counter }}">
                            <div class="card card-hover">
                                <div class="card-body">
                                    <div class="d-flex mb-3">
                                        <div class="flex-grow-1 align-items-start">
                                            <div>
                                                <h6 class="mb-0 text-muted">
                                                    {% if data.public_status %}
                                                        <i class="mdi mdi-circle-medium text-success fs-3 align-middle"></i>
                                                    {% else %}
                                                        <i class="mdi mdi-circle-medium text-warning fs-3 align-middle"></i>
                                                    {% endif %}
                                                    <span class="team-date">{{ data.date }}</span>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="dropdown ms-2">
                                            <a href="#" class="dropdown-toggle font-size-16 text-muted" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="mdi mdi-dots-horizontal"></i>
                                            </a>
        
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <form action="/toggle-public" class="dropdown-item" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id" value="{{ data.id }}">
                                                    {% if data.public_status %}
                                                    <button type="submit" class="btn btn-outline-warning" style="width: 100%;">
                                                        Set to Private
                                                    </button>
                                                    {% else %}
                                                    <button type="submit" class="btn btn-outline-success" style="width: 100%;">
                                                        Set to Public
                                                    </button>
                                                    {% endif %}
                                                </form>
                                                <div class="dropdown-divider"></div>
                                                <div class="dropdown-item">
                                                    <button class="btn btn-outline-danger" style="width: 100%;">Delete</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
        
        
                                    <div class="row d-flex align-items-center" >
                                        <div class="mb-4 col-8" style="border-right: 1px solid #ccc;">
                                            <form action="/history" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="task" value="{{ data.task }}">
                                                <input type="hidden" name="writting" value="{{ data.writting }}">
                                                <button type="submit" class="btn btn-link p-0 task-button" style="text-decoration: none; color: inherit; text-align: left;">
                                                    <h5 class="mb-1 font-size-17 team-title">{{ data.task|truncatechars:50 }}</h5>
                                                </button>
                                            </form>
                                            
                                            <p class="text-muted mb-0 team-description">{{data.writting|truncatechars:50}}</p>
                                        </div>
                                        <div class="col-4">
                                            Score: {{data.score}}
                                            
                                        </div>
                                    </div>
        
                                    <div class="d-flex">
                                        <div class="avatar-group float-start flex-grow-1 task-assigne">
                                            <div class="avatar-group-item">
                                                <a href="#;" class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" value="member-6" aria-label="Terrell Soto" data-bs-original-title="Terrell Soto">
                                                    <img src="{{ data.user_name.userprofile.profile_pic.url }}" alt="" class="rounded-circle avatar-sm">
                                                </a>
                                                <a href="{% url 'writting-history' %}?user_id={{ data.user_name.id }}"  style="text-decoration: none;">
                                                    <h6 class="username-link">{{ data.user_name.username }}</h6>
                                                </a>
                                                
                                            </div>
                                            
                                        </div><!-- end avatar group -->
                                        <div class="align-self-end">
                                            {% if data.public_status %}
                                                <span class="badge badge-soft-success p-2 team-status">Public</span>
                                            {% else %}
                                                <span class="badge badge-soft-warning p-2 team-status">Private</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div><!-- end cardbody -->
                            </div><!-- end card -->
                        </div><!-- end col -->

                        {% endfor %}

                        

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if public_writtings.has_other_pages %}
            <div class="btn-group" role="group" aria-label="Item pagination">
                {% if public_writtings.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ public_writtings.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a></li>
                {% endif %}
        
                {% for page_number in public_writtings.paginator.page_range %}
                    {% if public_writtings.number == page_number %}
                        <button class="btn btn-outline-dark active">
                            <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                        </button>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_number }}" class="btn btn-outline-primary">
                            {{ page_number }}
                        </a><li class="page-item"></li>
                    {% endif %}
                {% endfor %}
        
                {% if public_writtings.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ public_writtings.next_page_number }}" class="btn btn-outline-primary">&raquo;</a><li class="page-item"></li>
                {% endif %}
            </div>
            {% endif %} 
        </ul>
    </nav>


</div>
{% endblock %}