body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(79, 31, 194);
    color: rgb(250, 249, 249);
}

/* Header (the navbar), can add more later */
header {
    background-color: #222;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
home_nav{
    font-size: 24px;
    color: white !important;
    font-weight: bold !important;
}
home_nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
home_nav a:hover {
    color: #00bcd4;
}
nav ul {
    list-style: none;
    display: flex;
}
nav li {
    margin-right: 20px;
}
nav a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
nav a:hover {
    color: #00bcd4; /* Change link color on hover */
}
.main-content {
    padding: 20px;
}
/* Font h1 h2 for the body (just change it or make more style for the body part, it doesn't matter) */
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #222;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
}
footer p {
    margin: 0;
    text-align: left;
    padding-right: 20px;
    color: white;
}
footer repo {
    margin: 0;
    text-align: right;
}
repo a {
    color: white;
    text-decoration: none;
}
repo a:hover {
    color: #00bcd4;
}
