{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>IELTS checker</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">  
    <link rel="stylesheet" href="{% static 'css/templatemo-host-cloud.css' %}">      
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
</head>
<body>
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    {% include 'partials/_header.html' %}
    
    

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'partials/_footer.html' %}
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    
    <script src="static/js/custom.js"></script>
    <script src="static/js/owl.js"></script>
    <script src="static/js/accordions.js"></script>

    
</body>
</html>