<footer>
   
        
      
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>About App</h2>
              </div>
              <p>This web application is developed to automatically grade Task 2 writing of the IELTS exam. The application will assess essays based on certain criteria and provide automatic scoring using ChatGPT API.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-item">
              <div class="footer-heading text-center">
                <h2>Members</h2>              
                <ul class="list-unstyled">
                    <li>Nguyễn Nam Dương - 22022512</li>
                    <li>Dương Minh Đức - 22022606</li>
                    <li>Hoàng Đăng Khoa - 22022548</li>
                    <li>Nguyễn Công Hiếu - 22022512</li>
                    <li>Long Trí Thái Sơn - 22022653</li>
                </ul>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-item" >  <div class="footer-heading">
                <h2>Github</h2>
              </div>
              <ul class="list-unstyled">
                <li><a class="nav-link" href="https://github.com/hieuhn09/IELTS-Writing-Checker">Ielts Writing Checker</a></p>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
      
</footer>
