{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <a href="/">Home page</a>
        <a href="/writting-checker/check">Writting checker</a>
        <a href="/writting-checker/history">Writting history</a>
        <a href="/user-login">Sign in</a>
        <a href="/user-register">Register</a>
        <a href="/user-logout">Log out</a>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        This is footer
    </footer>
</body>
</html>